body{
    display: grid;
    margin-left: 20%;
    grid-template-columns: 25% 2% 72%;
    text-align: center;
    align-items: center;
    align-content: center;
}
.titulo{
    text-align: center;
}
.nombres{
    border-style: solid;
    height: 500px;
}
.p5Canvas{
    border-style: solid;
}